@charset 'UTF-8';

:root {
  --color-logo: #588ff0;
  --background: #343434;

  --max-width: 900px;

  --font-primary: 'Verdana', monospace;
  --font-secondary: 'Arial', monospace;
  --font-header: 'Verdana', monospace;
  --font-logo: 'telegrafico';
  --font-size: var(--responsive-font-size);
}

@font-face {
 font-family: 'telegrafico';
 src:
   local('telegrafico'),
   url('/Telegrafico.ttf') format('truetype');
}

a.big{
  padding: 10px;
  background: rgba(#000000, 0.5);
  margin: 5px 0;
  text-align: center;
}

.container {
  background: var(--con-color);
}

z-nav a {
  background: var(--con-color);
}

/* Dark/Light Mode Classes */
#body-id {
  transition: background .3s, color .3s;
}
.lightswitch-off {
  --con-color: #00000050;
  background: #343434;
  color: #dedede;
}
.lightswitch-on {
  --con-color: #ffffff7d;
  background: #e2e2e2;
  color: #1a1a1a;
}
