@charset 'UTF-8';

:root {
  --y-axis-page-align: flex-start;
  --x-axis-page-align: center;

  --color-logo: #588ff0;

  --background: #284374;

  --max-width: 900px;

  --font-primary: 'Verdana', monospace;
  --font-secondary: 'Arial', monospace;
  --font-header: 'Verdana', monospace;
  --font-logo: 'telegrafico';
  --font-size: var(--responsive-font-size);
}

@font-face {
 font-family: 'telegrafico';
 src:
   local('telegrafico'),
   url('/Telegrafico.ttf') format('truetype');
}

/* Custom */
.logo {
  font-weight: 600;
}

a.big{
  padding: 10px;
  background: rgba(#000000, 0.5);
  margin: 5px 0;
  text-align: center;
}

.km-search-bar {
  text-align: center;
  flex: 1 1;
  margin: 20px;
}

/* Dark/Light Mode Classes */
main {
  border: 5px solid #2a2a2a;
  background: #343434;
  color: #dedede;
  transition: all .3s;
}
.lightswitch-off {
  border: 5px solid #2a2a2a;
  background: #343434;
  color: #dedede;
}
.lightswitch-on {
  border: 5px solid #c2c2c2;
  background: #e2e2e2;
  color: #1a1a1a;
}
