@charset 'UTF-8';

:root {
  --color-logo: #588ff0;
  --background: #343434;

  --max-width: 900px;
  --layout-grid-gap: 0;

  --font-primary: 'Verdana', monospace;
  --font-secondary: 'Arial', monospace;
  --font-header: 'Verdana', monospace;
  --font-logo: 'telegrafico';
  --font-size: var(--responsive-font-size);
}

@font-face {
 font-family: 'telegrafico';
 src:
   local('telegrafico'),
   url('/Telegrafico.ttf') format('truetype');
}

