<br>

<div class="table-container">
  <p>Title: </p>
  <input type="text" id="filterTitle" onkeyup="filterTitle()" placeholder="Filter title..">
  <p>Tags: </p>
  <input type="text" id="filterTags" onkeyup="filterTags()" placeholder="Filter tags..">
</div>

<br>

<div class="table-container">
<table id="projectTable">
  <tr>
    <th onclick="sortTable(0)">Name</th>
    <th onclick="sortTable(1)">Tags</th>
    <th>Description</th>
  </tr>
  {% assign sorted-pages = site.pages | where: "layout","page" %}
  {% for page in sorted-pages %}
  <tr>
    <td data-label="Name"><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></td>
    <td data-label="Tags">{{ page.tags | join: ', ' }}</td>
    <td data-label="Description">{{ page.description }}</td>
  </tr>
  {%- endfor -%}
</table>
</div>

<br>
