@charset 'UTF-8';

/***************
 *  Variables  *
 ***************/
:root {
  /****************
   *  Main Theme  *
   ****************/

  --primary-color: #a4a4a4;
  --secondary-color: #ffffff;
  --tertiary-color: grey;
  --background-color: #111;

  /* Border */
  --border-type: solid;
  --border-thickness: 1px;
  --border-radius: 5px;
  --border-color: dimgrey;

  /***********
   *  Sizes  *
   ***********/

  --max-width: 1300px;
  --margin-width: 900px;

  /***********
   *  Fonts  *
   ***********/

  --primary-font: 'Verdana', monospace;
  --secondary-font: 'Arial', monospace;
  --header-font: 'Geneva', monospace;
  --font-size: var(--responsive-font-size);
  /************
   *  Images  *
   ************/
}

/***************
 *  Font-Face  *
 ***************/


/************
 *  Custom  *
 ************/

.xyz__main {
  background: #292929;
}

.xyz__footer {
  margin: 0px;
}

nav {
  background: #4a4a4a;
}
