<header class="pb:10">
  <a class="logo">Knowmore</a>
</header>

<nav>
  <z-nav>
    <a onclick="z.loadPage('/pages/search')">Posts</a>
    <a onclick="z.loadPage('/pages/about')">About</a>
    <a onclick="z.loadPage('/pages/contribute')">Contribute</a>
  </z-nav>
</nav>

<footer>
  <p>
    Knowmore is a <a href="https://vuwnu.com">Vuwnu</a> project<br>
    Visit the <a href="https://github.com/vuwnu/knowmore">GitHub repo</a> for this site<br>
    powered by <zoon-logo></zoon-logo>
  </p>
</footer>
