<style>
  :root {
    --y-axis-page-align: center;
    --x-axis-page-align: center;
    --max-width: 400px;
  }
</style>

<header>
  <a href="/home" class="logo" style="font-size:4.5em;padding:20px 0;">Knowmore</a>
</header>

<zoon-nav class="b">
  <a href="/">Posts</a>
  <a href="/about">About</a>
  <a href="/contribute">Contribute</a>
</zoon-nav>

<footer>
  <p>
    Knowmore is a <a href="https://vuwnu.com">Vuwnu</a> project<br>
    Visit the <a href="https://github.com/vuwnu/knowmore">GitHub repo</a> for this site<br>
    powered by <zoon-logo></zoon-logo>
  </p>
</footer>
