<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body class="xyz layout-single">
    <div class="xyz__header">
    </div>

    <div class="xyz__main">
      <main class="main" aria-label="Content">
        {% include nav.html %}
        <img class="logo" src="/assets/images/logo.png" alt="Knowmore">
        <div class="xyz-md">
          {{ content }}
        </div>
        {% include table.html %}
      </main>
    </div>

    {% include footer.html %}
  </body>

</html>
