<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    {% include nav.html %}

    <main class="main" aria-label="Content">
      <h1>{{ page.title }}</h1>

      {{ content }}

      <img src="/topics/{{ page.title }}/img.png" alt="Image">

      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Tags</th>
          <th>Guides</th>
        </tr>
        {%- for page in site.topics -%}
        <tr>
          <td>{{ page.title }}</td>
          <td>{{ page.excerpt }}</td>
          <td>{{ page.tags }}</td>
          <td><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></td>
        </tr>
        {%- endfor -%}
      </table>
    </main>

    {% include footer.html %}
  </body>

</html>
