<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

{% include head.html %}

<body class="xyz">

  <header>
    <a href="/"><img class="logo" src="/assets/images/logo.png" alt="Knowmore"></a>
  </header>

  <main class="main" aria-label="Content">
    {% include page_head.html %}
    <!-- Markdown Styling Wrapper -->
    <div class="xyz-md">
      {% include toc.html html=content %}
      {{ content }}
    </div>
  </main>

  {% include nav.html %}

  {% include footer.html %}

</body>

</html>
