<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    {% include nav.html %}

    <main class="main" aria-label="Content">
      {{ content }}
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Tags</th>
          <th>Guides</th>
        </tr>
        {% for category in site.categories %}
        {% for page in category[1] %}
        <tr>
          <th> {{ page.title }} </th>
          <th> {{ page.excerpt }} </th>
          <th> {{ page.tags }} </th>
          <td><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
        </tr>
        {% endfor %}
        {% endfor %}
      </table>
    </main>

    {% include footer.html %}
  </body>

</html>
