<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    {% include nav.html %}

    <main class="main" aria-label="Content">

      <h1>{{ page.title }}</h1>

      {{ content }}

      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Tags</th>
        </tr>
        {% assign sorted-pages = site.pages | where: "topic","intro" %}
        {% for page in sorted-pages %}
        <tr>
          <td><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></td>
          <th> {{ page.excerpt }} </th>
          <th> {{ page.tags }} </th>
        </tr>
        {% endfor %}
      </table>

    </main>

    {% include footer.html %}
  </body>

</html>
